<navbar-dir></navbar-dir>

<div class="fullSchedView" ng-cloak>
	
	<div class="md-inline-form md-whiteframe-3dp">

		<div layout="row" layout-wrap>

			<br>
	
			<div id="patientText" flex="10">
				Patient:
			</div> 
				
			<div flex="30">

				<form ng-submit="$event.preventDefault()">

			      	<md-autocomplete
			        	ng-disabled="isDisabled"
			            md-no-cache="noCache"
			        	md-selected-item="selectedItem"
			        	md-search-text-change="searchTextChange(fullScheduleCtrl.searchText)"
			        	md-search-text="searchText"
			        	md-selected-item-change="selectedItemChange(patient)"
			        	md-items="patient in querySearch(searchText)"
			        	md-item-text="patient.firstName + ' ' + patient.lastName"
			        	md-min-length="0"
			        	placeholder="Search for a Patient"
			        	md-menu-class="autocomplete-custom-template"
			        	class="searchBar">

				        <md-item-template>
					        <span class="item-title">
					            <span> {{ patient.firstName }} {{ patient.lastName }} </span>
					        </span>
					        <span class="item-metadata">
						        <span class="item-metastat">
					            	Birthday: <strong>{{ patient.birthDay }}, {{ patient.birthMonth }} >{{ patient.birthYear }}</strong>
					            </span>
					            <span class="item-metastat">			              
					            	Gender: <strong>{{ patient.gender }}</strong>
						        </span>
				        	</span>
				        </md-item-template>

			    	</md-autocomplete>
				    
				</form>

			</div>

			<md-datepicker ng-model="appointment.date" md-placeholder="Enter date" flex="60"></md-datepicker>

			<md-input-container flex="50">
				<label>Start Time</label>
				<md-select ng-model="appointment.startTime">
					<md-option ng-repeat="time in times track by $index" value="{{ time.value }}"> {{ time.display }}</md-option>
				</md-select>
			</md-input-container>
						
			<md-input-container flex="50">
				<label>End Time</label>
				<md-select ng-model="appointment.endTime">
					<md-option ng-repeat="time in times track by $index" value="{{ time.value }}"> {{ time.display }}</md-option>
				</md-select>
			</md-input-container>

			<div flex="100">
				<md-input-container>
						<label>Description</label>
						<input ng-model="appointment.description">
				</md-input-container>
			</div>

			<md-button class="md-raised md-primary buttonWidth" ng-click="addNewAppointment()">Submit</md-button>

		</div>

	</div>

		<br><br><br>

    <div class="md-inline-form md-whiteframe-3dp">

    	<md-datepicker ng-model="chosenDate" md-placeholder="Enter date"></md-datepicker> <md-button class="md-raised" ng-click="getDayAppointments(chosenDate)">Submit</md-button>

    	<br>

        <main-calendar-dir></main-calendar-dir>

    </div>

</div>