<div class="title">
	<h1>Pediatric EMR</h1>
</div>

<div>
	<img src="../image/blue-abstract-glass-balls-edited.jpg" class="loginPic">
</div>

<div class="loginBox">

		<div class="loginBoxContent">	
			<h1>Login</h1>
		
			<table class="login">
				<tr>
					<td>Username: </td> <td><input ng-model="user.username"></td>
				</tr>
				<tr>
					<td>Password: </td> <td><input type="password" ng-model="user.password"></td>
				</tr>
			</table>

			<br>

			<md-button class="md-raised md-primary buttonWidth loginButton" ng-click="login()">Submit</md-button>
		</div>

</div>

