<md-content ng-controller="navBarCtrl as navBarCtrl">

	<md-toolbar>

		<div class="md-toolbar-tools" layout="row">
			
			 <md-menu> <!-- ng-controller="navBarCtrl as ctrl" ng-cloak -->
				
				<md-button aria-label="Open menu" class="md-icon-button" flex="5" ng-click="navBarCtrl.openMenu($mdOpenMenu, $event)">
					<i md-menu-origin class="fa fa-bars fa-2x menuButton"></i>
				</md-button>

				<md-menu-content width="4">
					<md-menu-item>
						<md-button ng-click="redirect('userHome')">
							<i class="fa fa-home" md-menu-align-target></i>
							Home
						</md-button>
					</md-menu-item>
			
					<md-menu-item>
						<md-button ng-click="redirect('fullSchedule')">
							<i class="fa fa-calendar-check-o" md-menu-align-target></i>
							Schedule
						</md-button>
					</md-menu-item>

					<md-menu-item>
						<md-button ng-click="redirect('newPatient')">
							<i class="fa fa-plus" md-menu-align-target></i>
							Add New Patient
						</md-button>
					</md-menu-item>

					<md-menu-item>
						<md-button ng-click="redirect('patientChart')">
							<i class="fa fa-file-text-o" md-menu-align-target></i>
							Patient Charts
						</md-button>
					</md-menu-item>

					<md-menu-item ng-if="currentUser.admin">
						<md-button ng-click="redirect('admin')">
							<i class="fa fa-lock" md-menu-align-target></i>
							Admin
						</md-button>
					</md-menu-item>

					<md-menu-item>
						<md-button ng-click="redirect('home')">
							<i class="fa fa-sign-out" md-menu-align-target></i>
							LogOut
						</md-button>
					</md-menu-item>
				</md-menu-content>

			</md-menu>
			
			<h2 flex="15">
				<span>Pediatric EMR</span>
			</h2>

			<div flex="60"></div>

			<form ng-submit="$event.preventDefault()">
			    
			    <div flex="20">

			      	<md-autocomplete
			        	ng-disabled="navBarCtrl.isDisabled"
			            md-no-cache="navBarCtrl.noCache"
			        	md-selected-item="navBarCtrl.selectedItem"
			        	md-search-text-change="navBarCtrl.searchTextChange(navBarCtrl.searchText)"
			        	md-search-text="navBarCtrl.searchText"
			        	md-selected-item-change="navBarCtrl.patientChartRedirect()"
			        	md-items="patient in navBarCtrl.querySearch(navBarCtrl.searchText)"
			        	md-item-text="patient.firstName + ' ' + patient.lastName"
			        	md-min-length="0"
			        	placeholder="Search for a Patient"
			        	md-menu-class="searchTemplate"
			        	class="searchBar">

				        <md-item-template>
					        <span class="item-title">
					            <span> {{ patient.firstName }} {{ patient.lastName }} </span>
					        </span>
					        <span class="item-metadata">
						        <span class="item-metastat">
					            	Birthday: <strong>{{ patient.birthDay }}, {{ patient.birthMonth }} {{ patient.birthYear }}</strong>
					            </span>
					            <span class="item-metastat">			              
					            	Gender: <strong>{{ patient.gender }}</strong>
						        </span>
				        	</span>
				        </md-item-template>

			    	</md-autocomplete>
			    
			    </div>
			</form>

		</div>
	</md-toolbar>

</md-content>