<md-content>

	<md-toolbar>
		<div class="md-toolbar-tools" layout="row">
			<md-button class="md-icon-button" aria-label="Settings" flex="5">
				<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
			</md-button>
			<h2 flex="15">
				<span>Pediatric EMR</span>
			</h2>
			<div flex="50"></div>
			    <form ng-submit="$event.preventDefault()">
			    
			    <div flex="30" ng-controller="navBarCtrl as navBarCtrl">

			      	<md-autocomplete
			        	ng-disabled="navBarCtrl.isDisabled"
			            md-no-cache="navBarCtrl.noCache"
			        	md-selected-item="navBarCtrl.selectedItem"
			        	md-search-text-change="navBarCtrl.searchTextChange(navBarCtrl.searchText)"
			        	md-search-text="navBarCtrl.searchText"
			        	md-selected-item-change="navBarCtrl.selectedItemChange(patient)"
			        	md-items="patient in navBarCtrl.querySearch(navBarCtrl.searchText)"
			        	md-item-text="patient.name"
			        	md-min-length="0"
			        	placeholder="Search for a Patient"
			        	md-menu-class="autocomplete-custom-template"
			        	class="searchBar">

				        <md-item-template>
					        <span class="item-title">
					            <span> {{ patient.firstName }} {{ patient.lastName }} </span>
					        </span>
					        <span class="item-metadata">
						        <span class="item-metastat">
					            	Birthday: <strong>{{ patient.birthDay }}, {{ patient.birthMonth }} >{{ patient.birthYear }}</strong>
					            </span>
					            <span class="item-metastat">			              
					            	Gender: <strong>{{ patient.gender }}</strong>
						        </span>
				        	</span>
				        </md-item-template>

			    	</md-autocomplete>
			    
			    </div>
			    </form>

		</div>
	</md-toolbar>

</md-content>