.appointmentDiv
	background-color rgba(0, 132, 158, .5)
	width 80%
	margin 0 auto
	border-radius 3px
	border 1px solid rgba(107, 107, 107, .7)
	position absolute
	left 100px
	
.calendarContentOverflow
	overflow scroll
	
#boldValues
	font-weight bold
	
.calendarAppt
	margin-top 10px
	margin-left 20px
	
.trashIcon
	margin-left 100px
	margin-top -27px

	i
		margin-bottom -5px
	
#vertical-container 
	height 1150px
	width 100%
.repeated-item 
	border-bottom 1px solid #ddd
	box-sizing border-box
	height 41px
	padding-top 10px
#calendar-content 
	margin 16px
.virtualRepeatdemoVerticalUsage md-virtual-repeat-container 
	border solid 1px grey
.virtualRepeatdemoVerticalUsage .md-virtual-repeat-container .md-virtual-repeat-offsetter 
	padding-left: 16px