.loginPic
	width 100%
	z-index 1
	position relative

.title
	height: 60px
	width: 100%
	background-color rgba(185, 234, 230, .5)
	position absolute
	z-index 2
	margin-bottom -70px
	margin 0
	border-bottom 1px solid #f4f6f7

	h1
		padding-top 11px
		padding-left 25px 
		margin-top 0


.loginBox
	margin 0 auto
	height 260px
	width 400px
	border-radius 3px
	margin-top -40%
	background-color rgba(185, 234, 230, .7)
	border 1px solid #f4f6f7
	z-index 3
	position relative
	font-weight bold

.loginBoxContent
	padding 20px

	h1
		padding-left 135px

.login
	margin 0 auto

	td
		font-size 1.2em

	input
		border-radius 3px
		border-width 1px
		border-style solid
		border-color gray
		height: 1.3em
		margin-bottom 6px
		
.loginButton
	float right

