
.newPatientView 
	background-color #00849e
	padding 50px 

	.md-whiteframe-3dp
		width 70%
		margin 0 auto
		border-radius 3px
		padding 20px
		background-color #ffffff

.formBackground
	background-color #ffffff

.buttonWidth
	float right
	width 50px
	margin-right 40px