
.newPatientView 
	background-color #00849e
	padding 50px 

	.md-whiteframe-2dp
		width 700px
		margin 0 auto
		border-radius 3px
		padding 20px
		background-color #efefef

.formBackground
	background-color #efefef

.buttonWidth
	margin-left 100px
	width 50px