.patientChartView
	background-color #00849e
	padding 50px 50px 500px 50px
	height 100%
	
	.md-whiteframe-2dp
		width 900px
		border-radius 3px
		padding 20px
		background-color #efefef
		margin 0 auto