.userHomeView
	background-color #00849e
	padding 50px 50px 200px 50px
	
	.md-whiteframe-3dp
		width 80%
		height 1150px
		border-radius 3px
		padding 20px
		background-color #ffffff
		margin 0 auto
		



