.userHomeView
	background-color #00849e
	padding 50px 50px 200px 50px
	
	.md-whiteframe-3dp
		width 90%
		border-radius 3px
		padding 20px
		background-color #ffffff
		margin 0 auto
		
#vertical-container {
  height: 292px;
  width: 100%; }
.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px; }
#calendar-content {
  margin: 16px; }
.virtualRepeatdemoVerticalUsage md-virtual-repeat-container {
  border: solid 1px grey; }
.virtualRepeatdemoVerticalUsage .md-virtual-repeat-container .md-virtual-repeat-offsetter {
  padding-left: 16px; }



// #vertical-container {
//   height: 100%
//   width: 100%
// .repeated-item {
//   border-bottom: 1px solid #ddd;
//   box-sizing: border-box;
//   height: 40px;
//   padding-top: 10px; }
// #calendar-content {
//   margin: 16px; }
// .virtualRepeatdemoVerticalUsage md-virtual-repeat-container {
//   border: solid 1px grey; }
// .virtualRepeatdemoVerticalUsage .md-virtual-repeat-container .md-virtual-repeat-offsetter {
//   padding-left: 16px; }